In [3]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.1.1-cp39-cp39-win_amd64.whl (365 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.1.1

In [6]:
import pandas as pd
from pymongo import MongoClient
client = MongoClient('mongodb://localhost:27017/')
db = client.test
df = pd.DataFrame(list(db.tweet.find()))
df.drop('_class', inplace=True, axis=1)

In [7]:
df

,_id,author_id,text,created_at,source,public_metrics
0,1548254468906438659,833398209053605888,Statt sich Gedanken um die Versorgungssicherhe...,2022-07-16T10:33:25.000Z,Twitter for iPhone,"{'retweet_count': 674, 'reply_count': 176, 'li..."
1,1547854577059319810,833398209053605888,Während den Bürgern ein kalter &amp; womöglich...,2022-07-15T08:04:23.000Z,Twitter Web App,"{'retweet_count': 1053, 'reply_count': 291, 'l..."
2,1547534930078482434,833398209053605888,Rücktrittsforderungen werden oft und gerne erh...,2022-07-14T10:54:13.000Z,Twitter Web App,"{'retweet_count': 1836, 'reply_count': 623, 'l..."
3,1547533696282103808,833398209053605888,Das lassen wir uns als Demokraten nicht gefall...,2022-07-14T10:49:19.000Z,Twitter Web App,"{'retweet_count': 249, 'reply_count': 136, 'li..."
4,1547533612848930819,833398209053605888,Die Einstufung der #AfD Baden-Württemberg als ...,2022-07-14T10:48:59.000Z,Twitter Web App,"{'retweet_count': 572, 'reply_count': 306, 'li..."
...,...,...,...,...,...,...
15540,1548781423783444480,143484553,30 Jahre CSD in #Frankfurt: DIE LINKE war wied...,2022-07-17T21:27:21.000Z,Twitter for iPhone,"{'retweet_count': 8, 'reply_count': 5, 'like_c..."
15541,1548777328091795458,143484553,"@OliverLunk @DieLinkePresse @dieLinke Ja, bis ...",2022-07-17T21:11:04.000Z,Twitter for iPhone,"{'retweet_count': 2, 'reply_count': 0, 'like_c..."
15542,1548757548987293704,143484553,RT @DieLinkePresse: Parteichefin @Janine_Wissl...,2022-07-17T19:52:28.000Z,Twitter for iPhone,"{'retweet_count': 37, 'reply_count': 0, 'like_..."
15543,1548749481730007041,143484553,Sozialismus-Konferenz an der Uni Jena zu Ehren...,2022-07-17T19:20:25.000Z,Twitter for iPhone,"{'retweet_count': 11, 'reply_count': 6, 'like_..."
15544,1548735287324459008,143484553,@miciphone @Linksfraktion @dieLinke @Amira_M_A...,2022-07-17T18:24:01.000Z,Twitter for iPhone,"{'retweet_count': 2, 'reply_count': 2, 'like_c..."

In [74]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.neural_network import MLPClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
vectorizer = CountVectorizer()
tfidf_transformer = TfidfTransformer()
classifier = AdaBoostClassifier()
pipeline = Pipeline([('vect', vectorizer), ('tfidf', tfidf_transformer), ('clf', classifier)])
X_weidel = df[df["author_id"]=='833398209053605888']
y_weidel = ['afd'] * len(X_weidel)
X_scholz = df[df["author_id"]=='1489164711652466688']
y_scholz = ['spd'] * len(X_scholz)
X_lindner = df[df["author_id"]=='122104353']
y_lindner = ['fdp'] * len(X_lindner)
X_baerbock = df[df["author_id"]=='1469264387512979461']
y_baerbock = ['gruene'] * len(X_baerbock)
X_chrupalla = df[df["author_id"]=='797137333820784640']
y_chrupalla = ['afd'] * len(X_chrupalla)
X_merz = df[df["author_id"]=='797137333820784640']
y_merz = ['cdu'] * len(X_merz)
X = pd.concat([X_weidel, X_scholz, X_lindner, X_baerbock, X_chrupalla, X_merz], ignore_index=True)
y = y_weidel + y_scholz + y_lindner + y_baerbock + y_chrupalla + y_merz
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
pipeline.fit(X_train["text"], y_train)
y_pred = pipeline.predict(X_test["text"])
accuracy_score(y_test, y_pred)

0.7658979734451432

In [46]:
pd.DataFrame(list(db.user.find()))

,_id,name,username,_class
0,833398209053605888,Alice Weidel,Alice_Weidel,online.trutz.twitter.samples.model.User
1,1489164711652466688,Bundeskanzler Olaf Scholz,Bundeskanzler,online.trutz.twitter.samples.model.User
2,122104353,Christian Lindner,c_lindner,online.trutz.twitter.samples.model.User
3,1469264387512979461,Außenministerin Annalena Baerbock,ABaerbock,online.trutz.twitter.samples.model.User
4,797137333820784640,Tino Chrupalla,Tino_Chrupalla,online.trutz.twitter.samples.model.User
5,1059395748289232896,Friedrich Merz,_FriedrichMerz,online.trutz.twitter.samples.model.User
6,143484553,Janine Wissler,Janine_Wissler,online.trutz.twitter.samples.model.User
7,743724264,Martin Schirdewan,schirdewan,online.trutz.twitter.samples.model.User